<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog App! - Create a post</title>
</head>
<body>
  <div class="index">
    <div class="">
      <h2>Create Post</h2>
    </div>
    <%= form_with model: @post do |f| %>
      <%= f.text_field :title %>
      <%= f.text_area :text %>
      <%= f.submit "Submit", disable_with: 'Submiting...' %>
    <% end %>
  </div>
</body>
</html>