body {
  margin: 0;
}

.header {
  margin: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.header-btn {
  align-self: center;
}

.header-btn:hover {
  border-color: red;
}

.hover-title:hover {
  color: blue;
}

.index {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.user {
  display: flex;
  margin: 1rem;
}

.black-border {
  border: 2px solid black;
  border-radius: 5px;
}

.user-image {
  width: 7rem;
  height: 7rem;
}

.user-basic-data {
  margin-left: 2rem;
  flex-grow: 1;
  display: flex;
}

.user-index-name {
  font-size: 3rem;
  margin-left: 1rem;
  flex-basis: 70%;
  align-self: center;
  color: black;
  text-decoration: none;
}

.user-index-posts {
  flex-basis: 30%;
  align-self: flex-end;
}

.user-bio {
  margin: 1rem;
  padding: 1rem;
}

.section-title {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  margin: 0;
}

.post-com-like {
  margin: 0 1rem;
  text-align: right;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.posts-btn {
  color: black;
  text-decoration: none;
  padding: 1rem;
  margin: 0 1rem;
}

.posts-btn:hover {
  border-color: red;
}

.post-comments {
  margin: 0 1rem;
  list-style: none;
  padding: 1rem 0;
}

.comment {
  margin: 0.2rem 1rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
}

.post-detailed {
  display: flex;
  justify-content: space-between;
}

.full.size {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.submit-btn {
  align-self: center;
  background-color: white;
  cursor: pointer;
}

.submit-btn:hover {
  border-color: red;
}

.my-1 {
  margin: 1rem 0;
}

.success {
  background-color: #a6d785;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.error {
  background-color: red;
  margin: 0.5rem 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
